[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
	branch = stable
[submodule "polymode"]
	path = polymode
	url = https://github.com/vitoshka/polymode.git
[submodule "exec-path-from-shell"]
	path = exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "ESS"]
	path = ESS
	url = https://github.com/emacs-ess/ESS/
[submodule "org-mode"]
	path = org-mode
	url = http://orgmode.org/org-mode.git/
[submodule "auctex"]
	path = auctex
	url = http://git.savannah.gnu.org/r/auctex.git
